<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/header.ejs`) %>
    <%- include(`./partials/logosection`) %>

    <div class="newpokemonformcontainer">
        <form action="/index" method="POST">

            <% for (let [key, value] of Object.entries(pokemon)) { %>


            <% if (typeof value===`object`) { %>

            <!-- DISPLAY THE KEY -->
            <button>
                <h2>
                    <%=key%>
                </h2>

            </button>

            <% for(let stat in value) { %>


            <%if(typeof value[stat]===`object`) {%>
            <button id="stat-dropDown">
                <h2>
                    <%=stat%>
                </h2>
            </button>

            <%for(let obj in value[stat]) {%>


            <%if(typeof value[stat][obj]===`object`) {%>


            <%for(let objValue in value[stat][obj]) {%>


            <%=objValue%> <input type="text" name="name" value="" /><br />
            <%}%>
                                            <% } else { %>
            <%=obj%> <input type="text" name="name" value="" /><br />
            <%}%>
                                                        <% } %>
            <%} else { %>
            <%=stat%> <input type="text" name="name" value="" /><br />

            <% }%>
            <% } %>
            <%} else {%>
            <%=key%> <input type="text" name="name" value="" /><br />
            <% }%>
            <% } %>
            <input type="submit" name="" value="Submit Changes" />
        </form>
    </div>
    </body>

</html>